language: java
dist: trusty
os: linux

before_install:
  - wget https://oss.sonatype.org/service/local/repositories/releases/content/com/codacy/codacy-coverage-reporter/2.0.0/codacy-coverage-reporter-2.0.0-assembly.jar

install: skip


stages:
  - name: "test"
    if: |
      type != pull_request \
      AND tag IS blank
  - name: "code coverage"
    if: |
      type == pull_request
  - name: validate
    if: |
      branch = master \
      AND type != pull_request \
      AND tag IS blank

jobs:
  include:
    - stage: "test"
      name: "Build & test"
      jdk: oraclejdk8
      dist: trusty
      script: 
        - ./gradlew assemble
        - ./gradlew check
    - stage: "code coverage"
      name: "Code coverage"
      jdk: oraclejdk8
      dist: trusty
      script: 
        - ./gradlew assemble
        - ./gradlew check
      after_success:
        - java -cp ~/codacy-coverage-reporter-2.0.0-assembly.jar com.codacy.CodacyCoverageReporter -l Java -r build/reports/jacoco/test/jacocoTestReport.xml
    - stage: "validate"
      name: "Validate clean build & test"
      jdk: oraclejdk8
      dist: trusty
      script: ./gradlew clean build