# Substitute <<PLACEHOLDERS>> with value obtained from https://admin.pubnub.com/
PUB_KEY: <<PASTE_PUBLISH_KEY_HERE>>
SUB_KEY: <<PASTE_SUBSCRIBE_KEY_HERE>>
PAM_PUB_KEY: <<PASTE_PAM_PUBLISH_KEY_HERE>>
PAM_SUB_KEY: <<PASTE_PAM_SUBSCRIBE_KEY_HERE>>
PAM_SEC_KEY: <<PASTE_PAM_SECRET_KEY_HERE>>